@charset "UTF-8";

/*FONTS*/
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@font-face {
    font-family: 'hack';
    src: url(../fonts/hacka___.ttf);
}
/*ROOT*/
:root {
    /*FONTS-ROOT*/
    --font-poppins: 'Poppins', sans-serif;
    --fonts-hack: 'hack', Impact, 'Haettenschweiler', 'Arial Narrow Bold', sans-serif;
    /*COLORS-ROOT*/
    --color-01: #403F4C;
    --color-02: #2C2B3C;
    --color-03: #1B2432;
    --color-04: #121420;
}
/*RESET*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}  
a:hover {
    cursor: pointer;
    opacity: 80%;
}
abbr {
    text-decoration: none;
}
/*BODY*/
body {
    margin: auto;
    font-family: var(--font-poppins), Helvetica, sans-serif;
    font-size: 100%;
    background-color: #403F4C;
    max-width: 350px;
    padding: 5px;
}
/*HEADER*/
header {
    display: flex;
    justify-content: center;
    background-color: #2C2B3C;
    border-bottom: 5px solid #1B2432;
    border-radius: 5px 5px 0px 0px;
}
header h1 {
    margin: 10px;
    color: aliceblue;
    margin-bottom: 10px;
    font-size: 1.5em;
}
h3 {
    text-align: center;
    color: aliceblue;
    font-size: 0.9em;
    background-color: #1b24326c;
}
h2 {
    color: aliceblue;
    background-color: #2C2B3C;
    width: 200px;
    border-radius: 5px;
}

/*NAV*/
nav {
    background-color: #12142060;
    max-width: 300px;
    margin: auto;
    display: flex;
    flex-direction: column;
    border-radius: 0px 0px 2px 2px;
    border: 1px solid #1B2432;
}
/*INPUTS*/
input.menu {
    width: 200px;
    color: #121420;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    margin-left: 50px;
    margin-bottom: 15px;
    font-weight: bold;
}
input#enviar {
    margin-top: 20px;
    background-color: lightcyan;
}

input#enviar {
    font-size: medium;
    font-weight: bolder;
}
input.checkbox {
    align-items: center;
    width: 20px;
}
/*TABLE*/
table {
    margin: auto;
    background-color: #121420;
    color: aliceblue;
    width: 300px;
    border: 1px solid #1B2432;
    text-align: center;
    position: relative;
}
table > thead {
    position: sticky;
    top: -50px;
    background-color: #2C2B3C;
}
table thead th {
    padding: 5px;
    font-size: larger;
}
table tbody  tr {
    background-color: #2C2B3C;
}
table tfoot th {
    background-color: #2C2B3C;
}
table#calculadora td {
    background-color: #403F4C;
}
table td.valor {
    background-color: #2c2b3c6e;
}
table td.valor-total {
    padding: 5px;
    background-color: #121420;
}
table button.botao {
    width: 50px;
    margin: 5px;
    font-size: 20px;
}
table button.botao:hover {
    opacity: 70%;
}
table button.botao-CE {
    width: 50px;
    margin: 5px;
    font-size: 20px;
}
table button.botao-CE:hover {
    opacity: 70%;
}
table td#resultado {
   font-size: 50px;
   background-color: rgba(211, 211, 211, 0.24);
}
table#lista td {
    padding: 5px;
}
table#lista tr:nth-child(odd) {
    background-color: #403f4c3d;
}
table#calculadora td#igual{
    background-color: #121420;
}
table#calculadora th#CE{
    background-color: #121420;
}
summary {
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin: 20px;
    align-items: center;
    font-size: small;
}
summary:hover {
    cursor: pointer;
    opacity: 70%;
}
span.info-botao {
    font-size: 0.8em;
}
footer {
    background-color: #403F4C;
    margin: auto;
    width: 250px;
    text-align: center;
    font-family: var(--fonts-hack);
    font-weight: normal;
}
footer a {
    text-decoration: none;
    color: aliceblue;
}
footer p {
    color: aliceblue;
    font-style: italic;
}
button#deletar {
    margin: 10px;
    width: 200px;
    font-size: medium;
    color: #1B2432;
    font-weight: bold;
}

